*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.clearfix:after
{
    display: table;
    clear: both;

    content: '';
}

img
{
    max-width: 100%;
}


/* Reset `button` and button-style `input` default styles */
/* https://codepen.io/terkel/pen/dvejH */

input[type='submit'],
input[type='reset'],
input[type='button'],
button
{
    /* cursor: default; */
    font: inherit;
    line-height: normal;

    overflow: visible;

    padding: 0;

    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;

    color: inherit;
    border: 0;
    background: none;

    -webkit-appearance: button; /* for input */
}
input::-moz-focus-inner,
button::-moz-focus-inner
{
    padding: 0;

    border: 0;
}

/* Utility */

  .no-padding {
    padding: 0!important;
  }


/* Layout */

.row {
  display: flex;
  flex-direction: column;

}

.col {
  padding: 14px;
}

/* Make the site header show up in front of the hero image so that that the flyout menu doesn't end up behind the hero image. */
.site-header {
  position: relative;
  z-index: 1;
}



/* Typography and Buttons */

h2
{
    font-family: 'Roboto Slab', serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 24px;

    margin: 0 0 15px 0;
}

h3
{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
}

p
{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;

    margin: 15px 0;
}

.link-button
{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  margin: 15px 0;
  padding: 17px;
  text-decoration: none;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: white;
  /* border: 2px solid rgba(31, 5, 5, .29); */
  box-shadow: inset 0 0 0 3px #0a6bb7, inset 0 -23px #095590;
  background: #0a6bb7;
}

/* Page Navigation */
.page-nav
{
    position: relative;

    width: 90%;
    height: 90px;
    margin: 0 auto;
    padding: 13px 0;

}

.home-link
{
    display: block;

    width: 120px;
    height: 60px;

    text-indent: -999px;

    background: url(../images/corwin-logo.svg) no-repeat left center;
}

.page-links-wrapper
{
    position: absolute;
    top: 90px;
    left: 110%;

    width: 100%;
    padding: 0 25px;

    transition: all .25s;

    background: white;
}

.page-links-wrapper a
{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 700;

    display: block;

    padding: 20px 10px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: black;
    border-top: 1px solid grey;
}

.page-links-wrapper a:first-child
{
    border-top: none;
}


.page-links-wrapper a:hover
{
    color: red;
}

/* Hamburger Menu */
/* http://codepen.io/RRoberts/pen/ZBYaJr */
.show-menu-button
{
    position: absolute;
    top: 10px;
    right: 55px;

    padding: 10px;
}

.show-menu-button:active
{
    top: 15px;
}

.show-menu-button .line
{
    display: block;

    width: 50px;
    height: 5px;
    margin: 8px auto;

    -webkit-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;

    background-color: black;
}

.show-menu-button.is-active .line:nth-child(2)
{
    opacity: 0;
}

.show-menu-button.is-active .line:nth-child(1)
{
    -webkit-transform: translateY(13px) rotate(45deg);
        -ms-transform: translateY(13px) rotate(45deg);
         -o-transform: translateY(13px) rotate(45deg);
            transform: translateY(13px) rotate(45deg);
}

.show-menu-button.is-active .line:nth-child(3)
{
    -webkit-transform: translateY(-13px) rotate(-45deg);
        -ms-transform: translateY(-13px) rotate(-45deg);
         -o-transform: translateY(-13px) rotate(-45deg);
            transform: translateY(-13px) rotate(-45deg);
}

.visible-menu
{
    left: 0;

    opacity: 100;
}

/* Page Hero */

.page-hero
{

    height: 500px;

    text-align: center;
    box-shadow: inset 0 8px 8px rgba(0,0,0,.2);

    background: #0365d4 url('../images/corwin-building.jpg') center 90px no-repeat;
    position: relative;


    background-attachment: fixed;

}

.page-hero p {
  background: url('../images/corwin-badge.svg') center center no-repeat;
  width: 85%;
  height: 100%;
  position: absolute;
  left: 7.5%;
  margin: 0;
  text-indent: -9999px;
  box-shadow
}

/* Homepage background images */

.homepage-image-background {
  height: 400px;
  width: 100%;
  background: grey;
  }

.corwin-truck-background {

  background: url('../images/corwin-truck-background.jpg')  no-repeat grey;

}

.beer-wine-background {
  background: url('../images/craft-beer-and-wine.jpg')  no-repeat grey;

}

/* Corwin Highlights */

.corwin-highlights {
  background: whitesmoke;
}

.corwin-highlights-list {
  margin: 40px auto 50px auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 17px;
  width: 100%;
  max-width: 1000px;
}

.corwin-highlights-list li {
  list-style-type: none;
  padding: 210px 0 0 0;
  margin: 25px 0 0 0;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 200px 200px;
  text-align: center;
}

.employee-icon {
  background-image: url('../images/employees-icon.svg');
}

.map-icon {
  background-image: url('../images/washington-icon.svg');
}

.calendar-icon {
  background-image: url('../images/calendar-icon.svg');
}

.leaf-icon {
  background-image: url('../images/leaf-icon.svg');

}

/* Page Footer */

footer
{
    padding: 0 25px;

    background: whitesmoke;
}

footer h3
{
    margin-top: 0;
}

.social-link
{
    display: inline-block;

    width: 80px;
    height: 80px;
    margin: 7px;
    padding: 33px;

    text-indent: -999px;

    border-radius: 50%;
    background: no-repeat center center grey;
    background-size: 50px 50px;
}

.instagram
{
    background-image: url('../images/instagram.svg');
}
.linkedin
{
    background-image: url('../images/linkedIn.svg');
}
.twitter
{
    background-image: url('../images/twitter.svg');
}
.facebook
{
    background-image: url('../images/facebook.svg');
    background-size: 65px 65px;
}

.footer-nav a
{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;

    display: block;

    padding: 20px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: black;
    border-top: 1px solid white;
}

.footer-nav a:hover
{
    color: red;
}

.footer-address {
  text-align: left;
}

footer small
{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;

    display: block;

    margin: 15px auto;

    text-align: center;
    letter-spacing: .5px;
    text-transform: uppercase;
}

#map {
  height: 0;
  width: 100%;
  padding-bottom: 75%;
}

/* Media Queries */

@media screen and (min-width: 600px) {
  .corwin-highlights-list {
    display: flex;
    flex-wrap: wrap;
  }

  .corwin-highlights-list li {
    width: 50%;
  }

}



@media screen and (min-width: 750px) {

    .row
    {
      flex-direction: row;
    }

    .row-reverse {
      flex-direction: row-reverse
    }

    .col {
      width: 50%;
      padding: 32px;
    }

    .homepage-image-background {
      width: 50%;
      min-height: 320px;
}

    /* Utility Classes */

    .right-align
    {
        text-align: right;
    }

    .left-align
    {
        text-align: left;
    }



}


@media screen and (min-width: 900px)
{
    .page-nav
    {
        display: flex;

        justify-content: space-between;
    }

    .page-links-wrapper
    {
        position: static;

        display: flex;

        width: auto;
        padding: 0;

        opacity: 100;
        background: none;
    }

    .page-links-wrapper a
    {
        line-height: 60px;
        line-height: 60px;

        height: 100%;
        padding: 0 13px;

        border-top: none;
    }

    .show-menu-button
    {
        display: none;
    }

    .corwin-highlights-list li {
      width: 25%;
    }


}























/* trailing whitespace madness */
